.TitleList,
.TitleList ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  border-radius: 20px;
}

.TitleList ul {
  width: 100%;
  margin-bottom: 30px;
  list-style-type: none;
  border: 1px solid #cda274;
  justify-content: space-between;
}

.TitleList ul li {
  color: #292f36;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 26px;
  border-radius: 20px;
  cursor: pointer;
  transition: All 0.5s;
}

.active {
  background-color: #cda274;
}

.RoomsImages h5 {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  text-align: start;
}

.RoomsImages p {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  text-align: start;
}

.RoomsImagesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 20px;
}

.RoomsImages {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.RoomsImages img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.RoomsImages img:hover {
  border-radius: 10px;
}

.RoomsImagesContainer .RoomsImages:nth-child(1) {
  grid-row: 1 / span 2;
}
.RoomsImagesContainer .RoomsImages:nth-child(1) img,
.RoomsImagesContainer .RoomsImages:nth-child(4) img,
.RoomsImagesContainer .RoomsImages:nth-child(5) img {
  height: 520px;
}

.RoomsImagesContainer .RoomsImages:nth-child(4) {
  grid-row: 2 / span 2;
}

.RoomsImagesContainer .RoomsImages:nth-child(5) {
  grid-row: 4 / span 2;
}
