.TitleList,
.TitleList ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  border-radius: 20px;
}

.TitleList ul {
  width: 800px;
  list-style-type: none;
  border: 1px solid #cda274;
  justify-content: space-between;
}

.TitleList ul li {
  color: #292f36;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 26px;
  border-radius: 20px;
  cursor: pointer;
  transition: All 0.5s;
}

.active {
  background-color: #cda274;
}

.RoomsImages {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
  gap: 20px;
  margin-top: 60px;
  width: 50%;
}

.RoomsImages h5 {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  text-align: start;
  margin-top: 30px;
}

.RoomsImages img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.RoomsImages p {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  text-align: start;
}
