.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 24px 13px 24px;
  border-radius: 18px;
  font-size: 18px;
  gap: 10px;
  cursor: pointer;
  border: 1px solid;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: #fff;
  border-color: transparent;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}
.button .arrow-gold {
  color: #cda274;
  font-size: 20px;
}
.dark {
  background: #292f36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);

  &:hover {
    background-color: #fff;
    color: #000;
    border-color: #292f36;
  }
}

.gold {
  background: #cda274;

  &:hover {
    border-color: #292f36;
    background-color: #000;
    color: #fff;
  }
}
