.PeopleCard {
  background-color: #fff;
  margin: 0 10px;
  width: 90%;
  height: 400px;
  padding: 40px 35px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.PeopleCard_top {
  gap: 23px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userName {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.25px;
}

.userCity {
  color: #4d5053;
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.18px;
}

.useDesc {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
  text-align: left;
  margin-bottom: 10px;
}

.image {
  border-radius: 50%;
}

@media screen and (max-width: 720px) {
  .PeopleCard{
    display: flex;
    align-items: flex-start;
    padding: 15px;
    height: 400px;
  }

  .PeopleCard_top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .userName {
  font-family: DM Serif Display;
    font-size: 15px;
  }

  .userCity {
    font-size: 15px;
    font-family: Jost;
  }

  .useDesc {
    font-size: 15px;
  }
}
