.ArticleHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

h3 {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
  margin-top: 50px;
}

p {
  color: #4d5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.ArticleBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  padding: 20px;
  margin: 10px; 
}

.ArticleBox:hover {
  background-color: #f4f0ec;
}

.ArticleBox:hover .ArticleArrow {
  background-color: #fff;
}

.ArticleBoxImg {
  background: #eaeaea;
  position: relative;
  overflow: hidden;
  border-radius: 45px 45px 0px 0px;
  margin-bottom: 20px;
}

.ArticleBoxImg img {
  width: 100%;
  height: 290px;
  vertical-align: middle;
}

.ArticleBoxImg img:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  transition: 1s ease;
}

.ImageSubtitle {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
  letter-spacing: 0.5px;
}

.text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 8px 8px 8px 0px;
  background: #fff;
  padding: 10px;
}

.ImageDesc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 70px;
}

.ImageDesc p {
  color: #4d5053;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.DescDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ArticleArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f4f0ec;
  padding: 20px;
  border-color: transparent;
}

@media screen and (max-width: 992px) {
  .ArticleContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
