.ServicesDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  width: 358px;
  margin: 0 auto;
}

.title {
  color: #292f36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  padding-bottom: 10px;
}

.ServicesDesc p {
  color: #4d5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.ServicesDesc:hover {
  display: flex;
  width: 398px;
  height: 100%;
  /* padding: 43px 10px; */
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #f4f0ec;
  transition: 0.2s ease-out;
}
.readMoreBtn {
  margin-bottom: 20px;
  color: #4d5053;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-weight: 600;
}

.readMoreBtn span {
  vertical-align: middle;
}
