.joinContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: 100%;
  padding: 70px 0;
  gap: 10px;
  border-radius: 70px;
  background: #292f36;
  margin: 50px 0;
}

.joinHeader {
  color: #fff;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
}

.joinContent p {
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
  margin-bottom: 32px;
}

.joinContent h3 {
  margin: 0;
}



/* @media screen and (max-width: 992px) {
  .joinContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .joinHeader {
    font-size: 25px;
    margin-top: 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .joinContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .joinHeader {
    font-size: 20px;
    width: 300px;
  }

  .joinContent p{
    width: 300px;
    margin-top: 10px;
  }

  .joinContent button{
    width: 300px;
  }
} */
