.videoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
  position: relative;
  margin: 150px;
}

video {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 374px;
  border-radius: 70px;
}

.video div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.playButton svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
.container{
  width: 5%;
}

  .videoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
