.videoBox {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
  position: relative;
  /* background: #292f36; */
  margin: 150px;
}

video {
  display: flex;  
  align-items: center;
  justify-content: center;
  width: 100%;
  object-fit: cover;
  height: 374px;
  border-radius: 70px;
  background-color: chartreuse;
}

.video div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.playButton svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* .video {
  width: 1200px;
  height: 374px;
  flex-shrink: 0;
  border-radius: 70px;
  background: gold;
} */

/* video {
  border-radius: 50px;
} */

/* .videoBox{
  width: 50%;
  /* height: 100%; */
/* background-color: red; */
/* border-radius: 70px; */

/* } */

/* .video video,
.video div {
  display: flex;
  align-items: center;
  justify-content: center;
} */
